<%- include('partials/header.ejs') %>
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <!--  Market Update Start-->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" style="background-color: #212529">
              <div class="col-12 row card-header-box">
                <div class="col-md-6">
                  <h4 class="float-left">
                    <b> Notification</b>
                  </h4>
                  <br />
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <form id="addform">
                <div class="row m-2 pt-3 pb-3">
                  <div class="col-md-6">
                    <h6>Title</h6>
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      name="title"
                      value="<%= title %>"
                      placeholder="Title"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <h6>Decription</h6>
                    <textarea
                      class="form-control"
                      id="description"
                      name="description"
                      value="<%= description %>"
                    ></textarea>
                  </div>
                </div>
                <div class="row m-2 pt-3 pb-3">
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn"
                      style="background-color: #212529; color: #fff"
                    >
                      Update
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Market Update Ends -->
    </div>
  </section>

  <!-- Main Content -->
</div>
<%- include ('partials/footer.ejs')%>
<script>
  function getFormData($form) {
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function (n, i) {
      indexed_array[n["name"]] = n["value"];
    });

    return indexed_array;
  }

  const form = $("#addform");

  form.on("submit", submitHandler);

  function submitHandler(e) {
    e.preventDefault();

    // PREPARE FORM DATA
    var formData = getFormData($("#addform"));
    console.log(formData);

    // DO POST
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/admin/notification/send",
      data: JSON.stringify(formData),
    })

      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          setTimeout(() => {
            window.location.reload();
          }, 2000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  }
</script>
