.dropbtn {
  /* background-color: rgb(57, 44, 112); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
  background-color: #fff;
  border: 1px solid rgb(175, 175, 175);
  padding: 12px 18px;
  min-width: 200px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0.8rem;
  cursor: pointer;
  /* margin-left: 1rem;
  margin-top: 1.5rem; */
  margin: 1rem auto 1rem auto;
}

/* .dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(57, 44, 112, 0.85);
} */

#myInput {
  box-sizing: border-box;
  /* background-image: url("searchicon.png"); */
  /* background-position: 14px 12px;
  background-repeat: no-repeat; */
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

#myInput2 {
  box-sizing: border-box;
  /* background-image: url("searchicon.png"); */
  /* background-position: 14px 12px;
  background-repeat: no-repeat; */
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput2:focus {
  outline: 3px solid #ddd;
}

.deal__dropdown {
  position: relative;
  display: inline-block;
}

.deal__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.deal__dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.deal__dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.deal_page-form {
  /* width: 100%; */
  padding: 1rem;
  padding-left: 2rem;
}

.deal_page-form-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1.2rem;
  column-gap: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1030px) {
  .deal_page-form-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .deal_page-form-group {
    grid-template-columns: 1fr;
  }
}

.deal_page-form-group label {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.deal_page-form-group input {
  border: 2px solid #ccc;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.remark-section {
  display: block;
}

.remark-section label {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

textarea {
  display: inline;
  border: 2px solid #ccc;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.date_of_agreement {
  display: block;
}

.date_of_agreement label {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.date_of_agreement input {
  border: 2px solid #ccc;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.separator_line {
  width: 100%;
  background-color: rgb(246, 246, 246);
  height: 3px;
  border: none;
  border-radius: 1px;
  margin: 2rem auto;
}

select {
  width: 100%;
  padding: 0.4rem 1.5rem;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 8px;
}

.action_buttons {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 1rem;
  padding: 0rem 0.3rem;
  margin: 3rem 0rem 1rem 0rem;
}

.action_buttons button {
  border: 1px solid #ccc;
  padding: 0.8rem 1.8rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background: #392c70;
  margin-top: 2rem;
}
