/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 0.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-group-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.form-group-new div {
  flex: 1;
}

.entity-type-select {
  /* width: 47.5%; */
  width: 100%;
  font-weight: 400;
  font-size: 0.8125rem;
  padding: 0.875rem 1.375rem;
  color: rgba(0, 0, 0, 0.7);
}

.entity-type-select option {
  font-weight: 400;
  font-size: 0.8125rem;
  color: black;
}

@media screen and (max-width: 800px) {
  .form-group-new {
    flex-direction: column;
    gap: 2rem;
  }

  .entity-type-select {
    width: 100%;
  }
}
