:root {
  --primary-color: rgb(57, 44, 112);
}

/* Global Stylings */

/* width */
::-webkit-scrollbar {
  height: 3px;
  width: 10px;
  border-radius: 0.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

label:nth-child(1) {
  display: block;
  margin-bottom: 0.5rem;
}

.form-content input[type="text"]:nth-child(2),
.form-content input[type="password"]:nth-child(2) {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-content input[type="email"],
.form-content input[type="tel"] {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

/*Step buttons*/
.button_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;

  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding-left: 0.1rem;
    padding-right: 0.1rem; */
  margin: 1rem auto;
}

.step_button {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 1.4rem 0.7rem;
  min-width: 190px;
  cursor: pointer;
}

@media screen and (max-width: 1114px) {
  .button_bar {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }
}

.step_button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

.step_button_active {
  background-color: var(--primary-color);
  color: #fff;
}

.step_button_current {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
  width: 90%;
  margin-inline: auto;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  /* changed z-index here -1 to 1 */
  z-index: 1;
}

.progress {
  background-color: rgb(4, 183, 107);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* added z-index = 5 here  */
  z-index: 5;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 1rem;
  width: max-content;
  color: #666;
}

@media screen and (max-width: 650px) {
  .progress-step::after {
    content: "";
  }
}

.progress-step-active {
  background-color: rgb(4, 183, 107);
  color: #f3f3f3;
}

/* Form */
.container-2 {
  /* width: clamp(320px, 30%, 430px); */
  width: 80%;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1rem 2rem;
}

@media screen and (max-width: 850px) {
  .container-2 {
    width: 100%;
  }
}

form {
  /* width: 100%; */
  padding: 1rem;
  /* padding-left: 2rem; */
}

.form-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.2rem;
  column-gap: 2rem;
  margin-bottom: 3rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .form-content {
    grid-template-columns: 1fr;
  }
}

.verify_field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
}

.verify_field input {
  flex: 1;
}

.verify_field button {
  color: white;

  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
}

/* Button */
.btns-group {
  /* float: right; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.btn_form {
  display: block;
  text-decoration: none;
  text-align: center;

  border: none;
  border-radius: 8px;
  outline: none;
  width: 100px;

  background-color: var(--primary-color);
  color: white;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;

  padding: 1rem 0rem;
}

.btn_form:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

.entity-type-select {
  outline: none;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 2px;
  border-radius: 5px;
}

select {
  /* width: 47.5%; */
  width: 100%;
  font-weight: 400;
  font-size: 0.8125rem;
  padding: 0.875rem 1.375rem;
  color: rgba(0, 0, 0, 0.7);
}

option {
  font-weight: 400;
  font-size: 1rem;
  color: black;
  padding: 0.2rem auto;
}

@media screen and (max-width: 800px) {
  select {
    width: 100%;
  }
}

/* for upload  */

.drop_box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 2px dotted #ccc;
  border-radius: 0.25rem;
}

.drop_box header {
  font-size: 1rem;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.drop_box .btn_upload {
  text-decoration: none;
  background-color: #2d76f5;
  color: #ffffff;
  padding: 6px 10px 7px;
  font-weight: 400;
  font-size: 0.8125rem;
  border: none;
  outline: none;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.drop_box .btn_upload:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #2d76f5;
  border: none;
  outline: 1px solid #010101;
}

.drop_box .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* verify opt */
.phone-box-modal,
.email-box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  left: 0px;
  top: 0px;
  visibility: hidden;
  z-index: 10;
}

.phone-overlay,
.email-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  opacity: 0;
  transition: opacity 1.3s;
}

.phone-body-modal,
.email-body-modal {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
}

.phone-inner-body-modal,
.email-inner-body-modal {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
}

.phone-modal-show,
.email-modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 0.9s;
}

.phone-modal-show .phone-overlay,
.email-modal-show .email-overlay {
  opacity: 0.5;
  transition: opacity 1.3s;
}

.phone-modal-show .phone-body-modal,
.email-modal-show .email-body-modal {
  max-height: 1000px;
  opacity: 1;
  transition: 0.3s max-height 0.8s, 0.3s opacity 0.6s;
}

.phone-modal-show .phone-inner-body-modal .title,
.email-modal-show .email-inner-body-modal .title {
  font-weight: 600;
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.phone-modal-show .phone-inner-body-modal .customBtnPhone,
.email-modal-show .email-inner-body-modal .customBtnEmail {
  margin: auto;

  border-radius: 0px;
  padding: 10px;
}

.phone-modal-show .phone-inner-body-modal form input,
.email-modal-show .email-inner-body-modal form input {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

/* Dropdown Button */
.searchable_dropdown_btn,
.bank_searchable_dropdown_btn {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 14px;
  background-color: white;

  font-weight: 400;
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Dropdown button on hover & focus */
.searchable_dropdown_btn:hover,
.searchable_dropdown_btn:focus,
.bank_searchable_dropdown_btn:hover,
.bank_searchable_dropdown_btn:focus {
  box-shadow: 0 0 2px #fff, 0 0 0 3px #ccc;
}

/* The search field */
#searchable_dropdown_input,
#bank_searchable_dropdown_input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 20px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#searchable_dropdown_input:focus,
#bank_searchable_dropdown_input:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.searchable_dropdown {
  position: relative;
  overflow: visible;
  /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.search-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
}

/* Links inside the dropdown */
.search-dropdown-content li {
  color: black;
  padding: 2px 8px;
  text-decoration: none;
  display: block;
  list-style: none;
}

/* Change color of dropdown links on hover */
.search-dropdown-content li:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*tooltip*/

.label_tooltip {
  position: relative;
}

.label_tooltip .label_tooltiptext {
  visibility: hidden;
  width: 100%;
  bottom: 100%;
  /* left: 50%; */
  /* margin-left: -60px; */
  right: 40%;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.label_tooltip:hover .label_tooltiptext {
  visibility: visible;
}

#add_more_signatory {
  color: var(--primary-color);
  background-color: #fff;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0.5rem 0.7rem;

  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;
}

#add_more_signatory:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.authorize_signatory_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.authorize_signatory_container fieldset {
  min-width: 100%;
  padding: 0.1rem 2rem 1rem 2rem;
  margin: 0rem auto 2rem auto;
  border: 1px solid #ccc;

  display: flex;
  align-items: flex-end;
  justify-content: start;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.authorize_signatory_container fieldset legend {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  font-size: 18px;
  white-space: normal;
}

.authorize_signatory_container fieldset div {
  flex: 1;
}

.authorize_signatory_container fieldset input {
  border-radius: 4px;
}

.authorize_signatory_container fieldset button {
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  padding: 0.875rem 1.375rem;
  background-color: rgb(230, 48, 48);
  border-radius: 4px;
  cursor: pointer;
}

.select2-container{
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  padding-left: 12px;
}