<div class="sidebar" id="sidebar">
    <div class="logo">
        <a href="">
            <img src="images/logo.png" class="img-fluid" alt="">
        </a>
    </div>
    <ul class="list-inline">
        <li><a href="">Dashboard</a></li>
        <li><a href="">My vCard</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Team Member</a></li>
        <li><a href="">Plans</a></li>
        <li><a href="">Transactions</a></li>
        <li><a href="">Profile Settings</a></li>
    </ul>
</div>