<div class="mobile-menu d-block d-lg-none p-3">
    <a class="sidebar-btn" href="javascript:;">Menu</a>
</div>
<div class="sidebar" id="sidebar">
    <ul class="list-inline">
        <li><a href="javascript:;"><span><i class="fa-solid fa-gauge"></i></span> Dashboard</a></li>
        <li class="active"><a href="javascript:;"><span><i class="fa-solid fa-credit-card"></i></span> My vCard</a></li>
        <li><a href="javascript:;"><span><i class="fa-solid fa-circle-info"></i></span> Support</a></li>
        <li><a href="javascript:;"><span><i class="fa-solid fa-users"></i></span> Team Member</a></li>
        <li><a href="javascript:;"><span><i class="fa-brands fa-telegram"></i></span> Plans</a></li>
        <li><a href="javascript:;"><span><i class="fa-solid fa-money-bill"></i></span> Transactions</a></li>
        <li><a href="javascript:;"><span><i class="fa-solid fa-user"></i></span> Profile Settings</a></li>
    </ul>
</div>