<!-- partial:partials/_navbar.html -->
<app-header></app-header>
<section class="about-banner margin-top overflow-hidden">
    <div class="container-fluid">
        <div class="heading">
            <h4>WOT for Your Team</h4>
            <h5 class="mt-4 w-25">An all-in-one digital business card platform for <span>Enterprises</span> and <span>Teams</span>.</h5>
        </div>
        <div class="row">
            <div class="col-xxl-8 col-lg-7 align-self-center">
                <div class="banner-cotnent">
                    <p class="mb-0">Lorem ipsum dolor sit amet. Quo odio corrupti aut nesciunt iusto qui minima libero ad veritatis dolorem et consequuntur suscipit quo sapiente cumque? Qui aperiam dolor ut dolor quia ad veniam autem aut nihil earum eum veritatis totam eos quisquam doloribus aut odio.</p>
                    <div class="pt-5 mt-5">
                        <a href="" class="btn btn-primary">Book a demo</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5 pe-0">
                <div class="about-img"></div>
            </div>
        </div>
    </div>
</section>

<section class="queries-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form bg-white h-100">
                    <h5 class="mb-0">For queries,</h5>
                    <form action="">
                        <div class="row mt-4">
                            <div class="col-xxl-8 col-lg-10">
                                <div class="form-group">
                                    <label for="">FULL NAME</label>
                                    <input type="text" placeholder="Full name" class="form-control">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="">BUSINESS EMAIL</label>
                                    <input type="email" placeholder="BUSINESS EMAIL" class="form-control">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="">MOBILE NUMBER</label>
                                    <input type="text" placeholder="MOBILE NUMBER" class="form-control">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="">COMPANY NAME</label>
                                    <input type="text" placeholder="COMPANY NAME" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary mt-5">Submit now</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-6 pe-lg-0 align-self-center">
                <div class="mockups text-end">
                    <img src="./assets/images/mockup.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>