<app-header></app-header>
<section class="ambassador-wrapper margin-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <div class="heading">
                    <h4>Want to be our brand ambassador?</h4>
                    <p>Aut accusantium sequi ut veritatis architecto qui perferendis voluptas qui autem eveniet id voluptate deserunt et laboriosam quia. Et fugit harum ut sunt cupiditate aut voluptas porro eos numquam enim hic iste enim et omnis ipsam. Ut harum doloribus est consequatur </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="glance-wrapper pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <figure class="mb-0 vector-img">
                    <img src="./assets/images/ambassador-new.png" class="img-fluid" alt="">
                </figure>
                <div class="inner-sm">
                    <div class="row">
                        <div class="heading">
                            <h5>Perks at a glance</h5>
                        </div>
                        <div class="row">
                            <div class="col-xxl-3 col-lg-6">
                                <div class="glance-box">
                                    <figure>
                                        <img src="./assets/images/count-percent.png" class="img-fluid" alt="">
                                    </figure>
                                    <h5>Comission</h5>
                                    <p>On every product you sell from a special link</p>
                                </div>
                            </div>

                            <div class="col-xxl-3 col-lg-6 mt-4 mt-xl-0">
                                <div class="glance-box">
                                    <figure>
                                        <img src="./assets/images/gift.svg" class="img-fluid" alt="">
                                    </figure>
                                    <h5>Gifts</h5>
                                    <p>Aut accusantium sequi ut veritatis architecto qui</p>
                                </div>
                            </div>

                            <div class="col-xxl-3 col-lg-6 mt-4 mt-xl-0">
                                <div class="glance-box">
                                    <figure>
                                        <img src="./assets/images/bullseye-arrow.svg" class="img-fluid" alt="">
                                    </figure>
                                    <h5>Target bonus</h5>
                                    <p>Aut accusantium sequi ut veritatis architecto qui</p>
                                </div>
                            </div>

                            <div class="col-xxl-3 col-lg-6 mt-4 mt-xl-0">
                                <div class="glance-box">
                                    <figure>
                                        <img src="./assets/images/percent.svg" class="img-fluid" alt="">
                                    </figure>
                                    <h5>Discounts</h5>
                                    <p>Aut accusantium sequi ut veritatis architecto qui</p>
                                </div>
                            </div>

                        </div>

                        <div class="text-center mt-5">
                            <a href="#" class="btn btn-primary">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>