<app-header></app-header>

<!-- About Intro Ends Here -->
<section class="about-banner margin-top">
    <div class="container-fluid">
        <div class="heading">
            <h4>Network <span>Smarter!</span></h4>
        </div>
        <div class="row">
            <div class="col-lg-8 align-self-center">
                <div class="banner-cotnent">
                    <div class="description-text" [innerHtml]="content">
                   
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-img">

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>