.form-control {
    padding: 0 15px !important;
    font-size: 14px;
    height: 50px;
}

.pan-tooltip .label_tooltip .label_tooltiptext{
    width: auto;
    right: auto;
}

button.btn_form.btn-savelater {
    padding: 1rem 1.5rem;
    width: fit-content;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 11px;
    text-align: center;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
    font-size: 14px;
}

.drop_box header {
    font-size: 14px;
}

.brokerage_field label, .remark_section label{
    font-weight: normal;
    color: #000;
}

#select_buyer, #select_seller {
    background-position: 96% center;
    background-size: 24px;
}

.dashboard__header .progress{
    position: static;
    width: 100%;
    top: auto;
    transform: none;
}

.calculations .table-responsive .table thead tr th{
    border-top: 1px solid #e0e0ef;
}

#select_buyer, #select_seller{
    padding-left: 20px;
}

.btns-group button.btn_form {
    width: 15%;
}

.form-group .form-control, .form-group select.form-control, .select2-container--default .select2-selection--single{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown .dropdown-menu a.dropdown-item {
    font-size: 14px;
}

.dropdown .dropdown-menu a.dropdown-item:not(:first-child){
    margin-top: 5px;
}

.modal .modal-dialog .modal-content .modal-body ul li {
    font-size: 16px;
    font-weight: 500;
}

.modal .modal-body .scrip_table table tr th{
    font-weight: 600;
}

.modal .modal-body .channel_partner li{
    font-size: 16px;
}

.modal .modal-body .channel_partner li:not(:first-child){
    margin-top: 8px;
}

.modal .modal-dialog .modal-content .modal-header {
    padding: 15px 16px;
    font-size: 24px;
    font-weight: 600;
}