<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="content-wrapper d-flex align-items-center auth">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left p-5">
          <div class="brand-logo">
           <h3> Duty Exchange</h3>
          </div>
          <h4>Forgot Password</h4>
          <!-- <h6 class="font-weight-light">Sign in to continue.</h6> -->
          <form class="pt-3">
            <div class="form-group">
                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Enter your registered email">
            </div>
            
            <div class="mt-3">
              <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="javascript:void(0)">Submit</a>
            </div>
           
            <div class="text-center mt-4 font-weight-light">
              Want to signin? <a href="/login" class="text-primary">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>