<!-- partial:partials/_navbar.html -->
<app-header></app-header>
<section class="smarter-wrapper pt-0 mb-0 margin-top">
    <div class="search-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group position-relative">
                                <input type="text" placeholder="Search articles here.." class="form-control">
                                <button type="button" class="btn btn-default search-btn">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.59 12.41 8.11 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z" fill="#9894A6"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="threecolumn-grid mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-6" data-aos="fade-up" data-aos-duration="1500">
                                <div class="steps">
                                    <label for="">Step 1</label>
                                    <div class="d-flex align-items-start">
                                        <figure class="step-icon">
                                            <img src="./assets/images/order-support.svg"  class="img-fluid" alt="">
                                        </figure>
                                        <div class="steps-text">
                                            <h5>Tap</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-duration="1500">
                                <div class="steps">
                                    <label for="">Step 2</label>
                                    <div class="d-flex align-items-start">
                                        <figure class="step-icon">
                                            <img src="./assets/images/tech-support.svg"  class="img-fluid" alt="">
                                        </figure>
                                        <div class="steps-text">
                                            <h5>Tap</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 mt-4 mt-xl-0" data-aos="fade-up" data-aos-duration="1500">
                                <div class="steps">
                                    <label for="">Step 3</label>
                                    <div class="d-flex align-items-start">
                                        <figure class="step-icon">
                                            <img src="./assets/images/team-icon.svg"  class="img-fluid" alt="">
                                        </figure>
                                        <div class="steps-text">
                                            <h5>Tap</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-content mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ni.</p>
                                <a href="/contact-us" class="btn btn-primary">Submit a request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------smarter-wrapper--------->

<section class="video-wrapper pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="youtube-video mt-0">
                    <img src="./assets/images/youtube-img.svg" class="img-fluid w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="FAQ-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="heading">
                            <h4 class="text-start" data-aos="fade-up" data-aos-duration="1500">Frequently asked questions</h4>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What phones are compatible?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet. Qui consequatur eveniet et dolor mollitia aut internos totam ut quia quidem. Sed internos voluptas eum quidem consequuntur et itaque labore in porro commodi.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Can I design my own card?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet. Qui consequatur eveniet et dolor mollitia aut internos totam ut quia quidem. Sed internos voluptas eum quidem consequuntur et itaque labore in porro commodi.</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What material are these cards?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet. Qui consequatur eveniet et dolor mollitia aut internos totam ut quia quidem. Sed internos voluptas eum quidem consequuntur et itaque labore in porro commodi.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="headingfour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        What material are these cards?
                                    </button>
                                </h2>
                                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet. Qui consequatur eveniet et dolor mollitia aut internos totam ut quia quidem. Sed internos voluptas eum quidem consequuntur et itaque labore in porro commodi.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="headingfive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                        How does WOT get the information of the other person? 
                                    </button>
                                </h2>
                                <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet. Qui consequatur eveniet et dolor mollitia aut internos totam ut quia quidem. Sed internos voluptas eum quidem consequuntur et itaque labore in porro commodi.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="headingsix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                        What material are these cards?
                                    </button>
                                </h2>
                                <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet. Qui consequatur eveniet et dolor mollitia aut internos totam ut quia quidem. Sed internos voluptas eum quidem consequuntur et itaque labore in porro commodi.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="find-answer mt-5">
                    <p>Cant find the answer?</p>
                    <a href="/contact-us" class="btn btn-primary">Submit a request</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>