<!-- partial:partials/_navbar.html -->
<app-header></app-header>
<section class="business-banner margin-top">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12 mx-auto text-center">
                <div class="heading">
                    <h4>Get Business Connects</h4>
                    <h5>Several ways in which your card viewers can connect with you</h5>
                    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                    <a href="buy-card.php" class="btn btn-primary">Get Started <span><svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.590027 1.41L2.00003 0L8.00003 6L2.00003 12L0.590027 10.59L5.17003 6L0.590027 1.41ZM6.59003 1.41L8.00003 0L14 6L8.00003 12L6.59003 10.59L11.17 6L6.59003 1.41Z" fill="white"/>
                    </svg></span></a>
                </div>
            </div>
        </div>

        <div class="three-grid mt-5">
            <div class="row">
                <div class="col-xxl-4 col-lg-6">
                    <div class="gride-box">
                        <figure class="mb-0">
                            <img src="./assets/images/Sustainable.svg" class="img-fluid" alt="">
                        </figure>
                        <div class="box-content">
                            <h5>Sustainable</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-6 mt-4 mt-lg-0">
                    <div class="gride-box">
                        <figure class="mb-0">
                            <img src="./assets/images/piggy-save.svg" class="img-fluid" alt="">
                        </figure>
                        <div class="box-content">
                            <h5>Cost saving</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-6 mt-4 mt-lg-0">
                    <div class="gride-box">
                        <figure class="mb-0">
                            <img src="./assets/images/piggy-save.svg" class="img-fluid" alt="">
                        </figure>
                        <div class="box-content">
                            <h5>Smart networking</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-4 col-lg-6 align-self-center order-2 order-lg-1 mt-4 mt-lg-0">
                <div class="card-content">
                    <span class="quoteimg">
                        <img src="./assets/images/quote-icon.svg" class="img-fluid" alt="">
                    </span>
                    <label for="">Contactless networking</label>

                    <div class="card-paragraph">
                        <h5>just tap your card!</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                    </div>
                    <hr class="border-line">
                    <div class="card-paragraph">
                        <h5>just tap your card!</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                    </div>
                </div>
            </div>
            
            <div class="col-xxl-4 col-lg-6 order-1 order-lg-2">
                <div class="app-frame text-center">
                    <h5>Dedicated mobile app fo seamless experience</h5>
                    <img src="./assets/images/device-frame.svg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-lg-6 align-self-center order-3 mt-4 mt-lg-0">
                <div class="card-content">
                    <label for="">NFC Powered</label>

                    <div class="card-paragraph">
                        <h5>just tap your card!</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                    </div>
                    <hr class="border-line">
                    <div class="card-paragraph">
                        <h5>just tap your card!</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                    </div>

                    <span class="bottom-quote quoteimg">
                        <img src="./assets/images/quote-icon.svg" class="img-fluid" alt="">
                    </span>
                </div>
            </div>
        </div>

        <div class="appslinks position-relative mt-5">
            <span><img src="./assets/images/line1.png" class="img-fluid" alt=""></span>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <ul class="list-inline d-flex align=items-center justify-content-center mb-0 ps-0">
                        <li>
                            <a href="">
                                <img src="./assets/images/playstore.png" class="img-fluid" alt="">
                            </a>
                        </li>
                        <li class="ms-4">
                            <a href="">
                                <img src="./assets/images/appstore.png" class="img-fluid" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="interaction-wrapper">
    <div class="container-fluid px-5">
        <div class="inner-side">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 order-2 order-lg-1 align-self-center">
                    <div class="tech-content">
                        <h4>Our Technology, Your Branding..</h4>
                        <h5>Customize it the way you like!</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                        <a href="buy-card.php" class="btn btn-primary mt-5">Get Started ></a>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-7 order-1 order-lg-2 align-self-center">
                    <div class="card-img text-end pe-5">
                        <img src="./assets/images/wot-card.svg" class="img-fluid w-75" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------interaction-wrapper--------->

<section class="queries-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-5 col-lg-6 order-2 order-lg-1">
                <div class="contact-form bg-white h-100">
                    <h5 class="mb-0">For queries,</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                    <form action="">
                        <div class="row mt-4">
                            <div class="col-xxl-8">
                                <div class="form-group">
                                    <label for="">FULL NAME</label>
                                    <input type="text" placeholder="Full name" class="form-control">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="">BUSINESS EMAIL</label>
                                    <input type="email" placeholder="BUSINESS EMAIL" class="form-control">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="">MOBILE NUMBER</label>
                                    <input type="text" placeholder="MOBILE NUMBER" class="form-control">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="">COMPANY NAME</label>
                                    <input type="text" placeholder="COMPANY NAME" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary mt-5">Submit now</button>
                    </form>
                </div>
            </div>

            <div class="col-xxl-7 col-lg-6 pe-lg-0 order-1 order-lg-2 mb-5 mb-lg-0 align-self-center">
                <div class="mockups text-end">
                    <img src="./assets/images/mockup.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>